numpy
llama-index-embeddings-huggingface
llama-index
llama-index-llms-groq
scikit-learn
sentence-transformers
groq==0.4.2
numpy
spacy
gunicorn
language_tool_python
python-Levenshtein
thefuzz
pinecone
llama-index-embeddings-cohere
llama-index-vector-stores-pinecone
Celery
redis
llama-index-postprocessor-cohere-rerank